[submodule "libs/libtesla"]
	path = libs/libtesla
	url = https://github.com/zdm65477730/libtesla
[submodule "libs/minini-nx"]
	path = libs/minini-nx
	url = https://github.com/ITotalJustice/minIni-nx.git
